@use "./variables" as *;

@mixin container {
  width: 100%;
  height: calc(100svh - var(--nav-h));
  margin-top: var(--nav-h);
}

section {
  width: 100svw;
  height: 100svh;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $breakpoint-mobile) { @content; }
  }
  @else if $breakpoint == tablet {
    @media (min-width: $breakpoint-mobile + 1) and (max-width: $breakpoint-tablet - 1) { @content; }
  }
  @else if $breakpoint == desktop {
    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1) { @content; }
  }
  @else if $breakpoint == large-desktop {
    @media (min-width: $breakpoint-desktop) { @content; }
  }
}