// Colors
$black: #000000;
$white: #ffffff;
$material: #121212;
$darkBlue: #04060d;
$border: #1a1a1a;
$text-muted: rgba(#fff, 0.88);

$exp-kpi: #3949ab;
$exp-tech: #b1ddf1;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/alan-sans@5.0.18/index.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');
$font-nav: 'Noto Sans', 'Archivo', 'Open Sans';
$font-body: 'Alan Sans', 'Open Sans', sans-serif;
$font-title: 'DM Serif Text', 'Archivo';
$font-contact: 'Archivo', 'Noto Sans', 'Open Sans', sans-serif;
$font-base: 'Noto Sans', 'Archivo', 'Open Sans';
// 'Archivo'
// 'Noto Sans'
// 'Open Sans'
// 'Alan Sans'
// 'sans-serif'
// 'DM Serif Text'

$gutter: 24px;

// Layout (Screen Size)
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;