@use "../../foundation" as f;

// /* Desktop --------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 1201px) {
  .pkyoo {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
      margin: 0;
      font: 900 clamp(15px, 7vw, 140px)/1.1 f.$font-base;
      text-align: center;
      line-height: 1.05;
      letter-spacing: -0.02em;
    }
  }
}
/* Tablet --------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 601px) and (max-width: 1200px) {
  .pkyoo {
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
      margin: 0;
      font: 900 clamp(15px, 7vw, 140px)/1.1 f.$font-base;
      text-align: center;
      line-height: 1.05;
      letter-spacing: -0.02em;
    }
  }
}
/* Mobile --------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 600px) {
  .pkyoo {
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
      margin: 0;
      font: 900 clamp(15px, 7vw, 140px)/1.1 f.$font-base;
      text-align: center;
      line-height: 1.05;
      letter-spacing: -0.02em;
    }
  }
}